<p id="updateMSG"></p>

<p>I like</p>
	<p>Comedy:</p>										
											    <select id="ucomedy">
												    <option value="No">No</option>
													<option value="Yes">Yes</option>
												  </select>

	<p>Drama:</p>										
											    <select id="udrama">
												    <option value="No">No</option>
													<option value="Yes">Yes</option>
												  </select>
	<p>Action:</p>										
											    <select id="uaction">
												    <option value="No">No</option>
													<option value="Yes">Yes</option>
												  </select>
												  <br/> <br/>

    <button {{action "updateUser"}}>Update Preferences</button>
{{outlet}}
